:root {
    --light-color: #006;
    --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
    --border: 0.2rem solid rgba(0, 0, 0, 0.1);
    --outline: 0.1rem solid rgba(0, 0, 0, 0.1);
  }
  * {
    font-family: "Noto Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
  }
  html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
  }
 body{
    background: white;
 }
 section {
   padding: 2rem 9%;
 }
 .header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    display: flex;
    align-items: center;
    justify-content:space-between; 
    background: whitesmoke;
    box-shadow: black;
    height: auto;
 }
 .header .logo {
   font-size: 2.5rem;
   font-weight: bolder;
   color: black;
   
 }

 .header .logo i {
  color: rgb(28, 150, 123);
  margin-right: auto;
  margin: 5px;
  scroll-padding: auto;
}

 .header .navbar a {
    background-color:whitesmoke;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px 10px;
    color: black;
    
  }
  .header .navbar ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: large;
    color: black;
  }
  .navbar li {
    margin: 0 10px;
  }

  .header .navbar a:hover {
    color:green;
 }
 .header .icons div {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: 0.5rem;
    background: rgb(255, 253, 253);
    color: black;
    font-size: 2rem;
    margin-top: 1.8;
    margin-right: 0.3rem;
    cursor: pointer;
    text-align: center;
   
 }
 .header .icons div:hover{
    background:  rgb(28, 150, 123);
    color: black;
 }
 #menu-btn{
    display: none;
 }
 #search-form {
  display: flex;
  align-items: center;
  margin-right: 110px;
  margin-left: 100px;
  margin-top: 7px;
  }

  #search-box {
  background-color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  outline: none;
  width: 500px;
  align-items: center;
  }
  #search-button {
    height: 4.3rem;
    width: 4.5rem;
    line-height: 4.3rem;
    border-radius: 2rem;
    background: white;
    color:white;
    font-size: 2rem;
    margin-right: 0.8rem;
    margin-left: 0.5rem;
    cursor: pointer;
    text-align: center;
  }
  
  #search-button i {
    font-size: 18px;
    color: #131313;
  }
  
  #search-button:hover {
    background-color:  rgb(28, 150, 123);
  }
  
  #search-button:hover i {
    color: #fff;
  }
 /*  home cover page image*/
 .home {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(./Image/26755.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 10rem;
  }
  
  .home .content {
    text-align: center;
    width: 60rem;
  }
  
  .home .content h3 {
    color: var black;
    font-size: 5.5rem;
  }
  
  .home .content h3 span {
    color: green;
  }
  
  .home .content p {
    color: var(--light-color);
    font-size: 1.7rem;
    padding: 1rem 0;
    line-height: 1.8rem;
  }
   /*  home cover page image ends*/
  .btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 0.8rem 3rem;
    font-size: 1.7rem;
    border-radius: 0.5rem;
    border: 0.2rem solid black;
    color: black;
    background: none;
    cursor: pointer;
  }
  .btn:hover {
    background:rgb(38, 181, 76);
    color: black;
  }
  .heading {
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color: black;
    margin-top: -10px;
  }
  
  .heading span {
    background: rgb(28, 150, 123);
    color: #fff;
    display: inline-block;
    padding: 0.5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
  }
  
  .features .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
  }
 
  .features .box-container .box {
    padding: 3rem 2rem;
    background: #fff;
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--box-shadow);
  }

  .features .box-container .box:hover {
    outline: var(--outline-hover);
    outline-offset: 0rem;
  }
   .features .box-container .box img {
   margin: 1rem 0;
   height: 15rem;
  } 

 .features .box-container .box h3 {
   font-size: 2.5rem;
   line-height: 1.8;
   color: var(--black);
  }
  .features .box-container .box p {
   font-size: 1.5rem;
   line-height: 1.8;
   color: var(--light-color);
   padding: 1rem 0;
  }
  .container1 {
    width: 1035px; /* Set the width of the container */
    margin: 0% 8%;
    margin-left: auto;
    padding: 10px; /* Add padding to create space around content */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
    display: flex; /* Use flexbox for layout */
  }
  
  .image-container {
    flex: 6; /* Allow the image container to grow and shrink */
    margin-right: 20px; /* Add margin to separate image and text */
  }
  
  .text-container {
    flex: 8 /* Allow the text container to grow and shrink */;
    color: var(--light-color);
    font-size: 1.5rem;
  }
  .text-container h2{
    color: black;
    font-size: 2.8rem;

  }
  ol {
    margin-left: 15px;
  }
  img {
    max-width: 100%; /* Ensure the image doesn't exceed its container */
  }
  .text{
    text-align: center;
    font-size:  2.5rem;
  }
  .text span{
    background: rgb(28, 150, 123);
    color: #fff;
    display: inline-block;
    padding: 0.5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
  }

  h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 3.5rem;
    color: #333;
 }
 .dis-heading{
  text-align: center;
  margin-top: 20px;
  font-size: 3.5rem;
  color: red;
 }
 .discounts {
    margin-top: -10px;
    text-align: center;
    display: flex;
    justify-content:space-evenly;
 }
 .category {
    margin-bottom: 20px;
 }
 .category h2 {
    font-size: 2.5rem;
    color:  black;
 }
 .product {
    font-size: 1.8rem;
    color: var(--light-color);
    margin-bottom: 10px;
 }
 .discount {
    font-weight: bold;
    color: rgb(255, 28, 28);
 }
    /*  about-us page starts*/  
   /*  about-us cover page image starts*/
  .about-us {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(./Image/about-us.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 16rem;
    padding-bottom: 6rem;
  }
  .about-us .content {
    text-align: center;
    width: 60rem;
    margin-bottom: 10rem;
  }
  
  .about-us .content h3 {
    color: var black;
    font-size: 5.5rem;
  }
  
  .about-us .content h3 span {
    color: green;
  }
  
  .about-us .content p {
    color: var(--light-color);
    font-size: 1.7rem;
    padding: 1rem 0;
    line-height: 1.8rem;
  }
   /*  about us cover page image ends*/
  .location-container {
    width: 1090px; /* Set the width of the container */
    margin: 0% 7%;
    padding: 5px; /* Add padding to create space around content */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow effect */
    display: flex; /* Use flexbox for layout */
  }
  .location {
    flex: 6; /* Allow the image container to grow and shrink */
    margin-right: 20px; /* Add margin to separate image and text */
  }
  
  .text-container {
    flex: 10 /* Allow the text container to grow and shrink */;
    color: var(--light-color);
    font-size: 1.5rem;
  }
  .text-container h2{
    color: black;
    font-size: 2.8rem;

  }
  .location-list{
    margin-left: 15px;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }
  .text-container span{
    background: rgb(28, 150, 123);
    color: #fff;
    display: inline-block;
    padding: 0.5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
  } 

  .table {
    border-collapse: collapse;
    width: 1090px;
    margin: 0% -2%;
    box-shadow: var(--box-shadow);
    margin-bottom: 8px;
      /*border: 1px solid black;if needed*/
  }
  
  th ,td {
    padding: 15px;
    text-align: left;
    /*border: 1px solid black; if needed*/
  }
  
  th {
    background-color: #f2f2f2;
    font-size: 2rem;
    color: #131212;
  }
  tr {
    font-size: medium;
    color: var(--light-color); /* Set the text color */
    width: auto;
  }
  tr:hover {
    background-color: #cfcccc;
    
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  .text-container .table-heading {
    text-align: center;
    font-size: 3.5rem;
  }

  /*product page begins*/
  .product-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(./Image/productcp.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 25rem;
    padding-bottom: 6rem;
   
  }
  
  .product-bg .content {
    text-align: center;
    width: 60rem;
    padding-bottom: 40px;
  }
  
  .product-bg .content h3 {
    color: black;
    font-size: 5.5rem;
  }
  
  .product-bg .content h3 span {
    color:rgb(120, 212, 120);
  }
  
  .product-bg .content p {
    color:var(--light-color);
    font-size: 1.7rem;
    font-weight: bolder;
    padding: 1rem 0;
    line-height: 1.8rem;
  }
  .category .box-container {
    display: flex; /* Use flexbox */
    justify-content: space-between ; /* Distribute items evenly along the main axis */
 }

  .category .box {
     flex: 1; /* Each box takes up equal space */
    text-align: center;
  } 
  .category .box img:hover {
    opacity: 0.6; /* Reduce opacity on hover */
    transform: scale(1.1); /* Scale up image on hover */
  }
  .category .box img {
      max-width: 70%; /* Set the maximum width of the image to the container width */
      max-height: 70%; /* Set the maximum height of the image to the container height */
  }
  .category .box-container h3 {
    font-size: 2.0rem;
    color: black;
  }
  .category .box-container h3:hover {
    color: green;
  }

  .blogs .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
  }
  
  .blogs .box-container .box {
    overflow: hidden;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    background: #fff;
  }
  
  .blogs .box-container .box img {
    height: 25rem;
    width: 100%;
    object-fit: cover;
  }
  
  .blogs .box-container .box .content {
    padding: 2rem;
  }
  
  .blogs .box-container .box .content .icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    margin-bottom: 1rem;
    border-bottom: var(--border);
  }
  
  .blogs .box-container .box .content .icons a {
    color: var(--light-color);
    font-size: 1.5rem;
  }
  
  .blogs .box-container .box .content .icons a:hover {
    color: var(--black);
  }
  
  .blogs .box-container .box .content .icons a i {
    color: var(--green);
    padding-right: 0.5rem;
  }
  
  .blogs .box-container .box .content h3 {
    line-height: 1.8;
    color: var(--black);
    font-size: 2.2rem;
    padding: 0.5rem 0;
  }
  
  .blogs .box-container .box .content p {
    line-height: 1.8;
    color: var(--light-color);
    font-size: 1.5rem;
    padding: 0.5rem 0;
  }
  /*product page ends here*/

  /*vegitable page starts here*/
  .vegitable-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(./Image/vegitablebg.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 30rem;
    padding-bottom: 10rem;
   
  }
  
  .vegitable-bg .content {
    text-align: center;
    width: 60rem;
    font-weight: bolder;
  }
  
  .vegitable-bg .content h3 {
    color: white;
    font-size: 7.5rem;
    text-align: center;
    margin-top: -20px;
  }
  
  .vegitable-bg .content h3 span {
    color: green;
  }
  
  .vegitable-bg .content p {
    color: white;
    font-size: 2rem;
    padding: 1rem 0;
    line-height: 1.8rem;
    font-weight: bolder;
  }
  .image-container1 {
    flex: 3; /* Allow the image container to grow and shrink */
    margin-right: 20px; /* Add margin to separate image and text */
  }
  .product-grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns of equal width */
    grid-template-rows: repeat(3, auto); /* 3 rows with height determined by content */
    justify-content: center; /* Center the grid horizontally */
    align-items: center; /* Center the grid vertically */
    gap: 1rem; /* Add a gap between grid items */
    overflow: hidden; /* Hide overflow content */
    padding: 1rem;
  }
  
  .product-container {
    width: auto; /* Set width of product container */
    display: flex; /* Use flexbox layout */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    flex-direction: column; /* Stack items vertically */
    background: #fff;
    border-radius: 0.5rem;
    text-align: center;
    padding: 2rem; /* Adjust padding as needed */
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    transition: 0.2s linear;
  }
  
  .product-image-wrapper {
    height: 300px; /* Set fixed height for the image wrapper */
    width: 100%; /* Ensure the image wrapper takes full width */
    overflow: hidden; /* Hide overflow content */
  }
  
  .product-image {
    width: 100%; /* Ensure the image takes full width of its container */
    height: auto; /* Automatically adjust image height */
    transition: transform 0.3s ease-in-out; /* Apply smooth transition on hover */
  }
  
  .product-image:hover {
    opacity: 0.6; /* Reduce opacity on hover */
    transform: scale(1.1); /* Scale up image on hover */
  }
  
  .product-container h3 {
    font-size: 1.5rem;
    color: var(--black);
  }
  
  .price {
    font-size: 2rem;
    color: var(--light-color);
    padding: 0.5rem 0;
    font-weight: bolder;
  }
  
  .stars i {
    font-size: 1.7rem;
    color: green;
    padding: 0.5rem 0;
  }
  .btn2 {
    margin-top: 1rem;
    display: inline-block;
    padding: 0.8rem 3rem;
    font-size: 1.7rem;
    border-radius: 0.5rem;
    border: 0.2rem solid black;
    color: black;
    background: none;
    cursor: pointer;
    align-items: center;
    margin: 10px;

  }
  .btn2:hover {
    background:rgb(95, 219, 192);
    color: black;
    opacity: 0.9; /* Reduce opacity on hover */
    transform: scale(1.1); /* Scale up image on hover */
  }
  /*dairy products starts here*/
  .dairyproducts-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(./Image/dairycp.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 30rem;
    padding-bottom: 10rem;
   
  }
  
  .dairyproducts-bg .content {
    text-align: center;
    width: 60rem;
    font-weight: bolder;
    padding-bottom: -10rem
  }
  
  .dairyproducts-bg .content h3 {
    color: white;
    font-size: 7.5rem;
    text-align: center;
    margin-top: -20px;
  }
  
  .dairyproducts-bg .content h3 span {
    color: green;
  }
  
  .dairyproducts-bg .content p {
    color: white;
    font-size: 2rem;
    padding: 2rem 0;
    line-height: 1.8rem;
    font-weight: bolder;
  }
  
  .intro-container {
    width: 950px; /* Set the width of the container */
    margin: 0% 12%;
    padding: 5px; /* Add padding to create space around content */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow effect */
    display: flex; /* Use flexbox for layout */
  }
  hr {
    border: none;
    border-top: 2px solid  rgb(28, 150, 123); 
    margin: 10px 0;
  }
  .product-flex-container {
    width: 86%;
    display: flex; /* Use flexbox layout */
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: space-between; /* Distribute items evenly along the main axis */
    gap: 1rem; /* Add a gap between items */
    overflow: hidden; /* Hide overflow content */
    padding-left: 16rem;
  }
  
  .product-flex-container-1{
    width: calc(33.33% - 1rem); /* Set width of product container (33.33% of container width minus gap) */
    display: flex; /* Use flexbox layout */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    flex-direction: column; /* Stack items vertically */
    background: #fff;
    border-radius: 0.5rem;
    text-align: center;
    padding: 2rem; /* Adjust padding as needed */
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    transition: 0.2s linear;
  }
  .product-flex-container-1 h3 {
    font-size: 1.5rem;
    color: var(--black);
  }
  .btn3 {
    margin-top: 1rem;
    display: inline-block;
    padding: 0.8rem 3rem;
    font-size: 1.7rem;
    border-radius: 0.5rem;
    border: 0.2rem solid black;
    color: black;
    background: none;
    cursor: pointer;
    align-items: center;
    margin-left: 16rem;
    margin-right: -15rem;
    margin-bottom: 5px;
  }
  .btn3:hover {
    background:rgb(95, 219, 192);
    color: black;
    opacity: 0.9; /* Reduce opacity on hover */
    transform: scale(1.1); /* Scale up image on hover */

  }
  /*cosmetics page starts here*/
  .cosmetics-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(./Image/cosmeticsbg.jpg.png) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 30rem;
    padding-bottom: 10rem;
   
  }
  
  .cosmetics-bg .content {
    text-align: center;
    width: 60rem;
    font-weight: bolder;
    padding-bottom: -10rem
  }
  
  .cosmetics-bg .content h3 {
    color: white;
    font-size: 7.5rem;
    text-align: center;
    margin-top: -20px;
  }
  .cosmetics-bg .content p {
    color: white;
    font-size: 2rem;
    padding: 1rem 0;
    line-height: 1.8rem;
    font-weight: bolder;
  }
  .cosmetic-table {
    border-collapse: collapse;
    width: 1090px;
    margin: 0% 7%;
    box-shadow: var(--box-shadow);
    margin-bottom: 8px;
      /*border: 1px solid black;if needed*/
  }
  .qty input[type="number"] {
    width: 50px; 
    border:2px solid rgb(95, 219, 192);
  }
  .buy-btn {
    padding: 6px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .buy-btn:hover {
    background:rgb(38, 209, 124);
    color: black;
    opacity: 0.9; /* Reduce opacity on hover */
    transform: scale(1.1); /* Scale up image on hover */

  }
  .product-name{
    font-weight: bold;
    font-size: large;
    color: black;
  }
  .btn4 {
    margin-top: 1rem;
    display: inline-block;
    padding: 0.8rem 3rem;
    font-size: 1.7rem;
    border-radius: 0.5rem;
    border: 0.2rem solid black;
    color: black;
    background: none;
    cursor: pointer;
    align-items: center;
    margin-left: 11rem;
    margin-right: -10rem;
    margin-bottom: 20px;
  }
  .btn4:hover {
    background:rgb(95, 219, 192);
    color: black;
    opacity: 0.9; /* Reduce opacity on hover */
    transform: scale(1.1); /* Scale up image on hover */

  }
  /*cosmetics page ends here*/
  /*oder page starts here*/
 .oder-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(./Image/oder.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 19rem;
    padding-bottom: -7rem;
 }

 .oder-bg .content {
    text-align: center;
    width: 60rem;
    font-weight: bold; /* 'bolder' corrected to 'bold' */
    margin-top: -7rem; /* Changed padding-bottom to margin-top to adjust spacing */
 }
  .oder-bg .content h3 {
    color: white;
    font-size: 7.5rem;
    text-align: center;
    margin-top: 40px;
  }
  .oder-bg .content p {
    color: white;
    font-size: 2rem;
    padding: 1rem 0;
    line-height: 1.8rem;
    font-weight: bolder;
  }
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:20px;
    min-height: 100vh;
    margin-top: -40px;
    
  }

  .container form{
    padding:20px;
    width:700px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
  }

  .container form .row{
    display: flex;
    flex-wrap: wrap;
    gap:15px;
  }

  .container form .row .col{
    flex:1 1 250px;
  }

  .container form .row .col .title{
    font-size: 25px;
    color:#333;
    padding-bottom: 5px;
    text-transform: uppercase;
    
  }

  .container form .row .col .inputBox{
    margin:15px 0;
  }

  .container form .row .col .inputBox span{
    margin-bottom: 10px;
    display: block;
  }

  .container form .row .col .inputBox input{
    width: 100%;
    border:1px solid #ccc;
    padding:10px 15px;
    font-size: 15px;
    text-transform: none;
  }

  .container form .row .col .inputBox input:focus{
    border:1px solid #000;
  }

  .container form .row .col .flex{
    display: flex;
    gap:15px;
  }

  .container form .row .col .flex .inputBox{
    margin-top: 5px;
  }

  .container form .row .col .inputBox img{
    height: 34px;
    margin-top: 5px;
    filter: drop-shadow(0 0 1px #000);
  }

  .container form .submit-btn{
    width: 100%;
    padding:12px;
    font-size: 17px;
    color:#1f1e1e;
    margin-top: 5px;
    cursor: pointer;
    font-weight: bold;
  }

  .container form .submit-btn:hover{
    background: #2ecc71;
  }

  /*Loyalty page starts*/
  .loyalty-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(./Image/Logobg.png) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 15rem;
    padding-bottom: -10rem;
  }
  .loyalty-bg .content {
    text-align: center;
    width: 60rem;
    margin-bottom: 10rem;
  }
  
  .loyalty-bg .content h3 {
    color: var black;
    font-size: 5.5rem;
  }
  .loyalty-bg .content p {
    color: var(--light-color);
    font-size: 1.7rem;
    padding: 1rem 0;
    line-height: 1.8rem;
  }
  .container3 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo1 {
    font-size: 4rem;
    font-weight: bolder;
    color: black;
    margin-bottom: 13px;
  }
  .logo1 i {
   color: rgb(28, 150, 123);
   margin-right: auto;
   margin: 5px;
   scroll-padding: auto;
  }
   .options{
    margin-top: 6px;
  }
 
  #option1{
    width: 67%;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 13px;
    margin-bottom: 15px;
    background-color: #fff;
    color: #333;
    margin-top: 10px;
  }
  

  .footer {
    background: whitesmoke;
  }
  
  .footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 0.5rem;
    padding-right: -50px;
    
  }
  
  .footer .box-container .box h3 {
    font-size: 2.5rem;
    color: var(--black);
    padding: 1rem 0;
  }
  
  .footer .box-container .box h3 i {
    color: green;
  }
  
  .footer .box-container .box .links {
    display: block;
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 0.8rem 0;
  }
  
  .footer .box-container .box .links i {
    color: green;
    padding-right: 0.5rem;

  }
  
  .footer .box-container .box .links:hover i {
    padding-right: 2rem;
   
  }
  
  .footer .box-container .box p {
    line-height: 1.8;
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;
  }
  
  .footer .box-container .box .share a {
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    border-radius: 0.5rem;
    font-size: 2rem;
    color: black;
    margin-left: 0.2rem;
    background: #eee;
    text-align: center;
  }
  
  .footer .box-container .box .share a:hover {
    background: var(--green);
    color:  rgb(28, 150, 123);
  }
  
  .footer .credit {
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: var(--black);
    border-top: var(--border);
  }
  
  .footer .credit span {
    color: var(--green);
  }
  
  
/* Media Queries */

@media only screen and (max-width: 600px) {
  .header {
      padding: 10px; /* Adjust padding */
  }

  .navbar {
      display: none; /* Hide the navbar */
  }

  .icons {
      display: block; /* Show the icons */
  }

  /* Adjust other styles as needed */
}

/* Tablet Styles */
@media only screen and (max-width: 768px) {
  /* Add tablet-specific styles here */
}

/* Large Desktop Styles */
@media only screen and (min-width: 1200px) {
  /* Add large desktop-specific styles here */
}
 
